GeoPandas/documentation/User-Guide/data/*
GeoPandas/documentation/User-Guide/set-operations/data/*
GeoPandas/documentation/User-Guide/indexing-and-selecting-data/data/*
GeoPandas/documentation/User-Guide/mapping-and-plotting/data/*
GeoPandas/documentation/User-Guide/geometric-manipulations/data/*
GeoPandas/documentation/User-Guide/aggregation-with-dissolve/data/*
