GeoPandas/documentation/User-Guide/data/*
GeoPandas/documentation/User-Guide/set-operations/data/*
GeoPandas/documentation/User-Guide/indexing-and-selecting-data/data/*
GeoPandas/documentation/User-Guide/mapping-and-plotting/data/*
GeoPandas/documentation/User-Guide/geometric-manipulations/data/*
GeoPandas/documentation/User-Guide/aggregation-with-dissolve/data/*
GeoPandas/documentation/User-Guide/merging-data/data/*
GeoPandas/documentation/User-Guide/interactive-mapping/data/*
GeoPandas/documentation/User-Guide/projections/data/*
GeoPandas/documentation/User-Guide/sampling-points/data/*
GeoPandas/project-nyc-trees/data/*
GeoPandas/parquet-video/data/*
*.DS_store

